@media (max-width: 991px) and (min-width: 767px) {
	.navbar-nav>li>a { font-size: 11px; }
}
@media (max-width: 767px) and (min-width: 480px) {
	.navbar-default .navbar-toggle {
		float:none;
		margin-right:0px;
	}
	.profile-info .attr {
		margin-top:10px;
		-moz-column-count: 1;
		-moz-column-gap: 20px;
		-webkit-column-count: 1;
		-webkit-column-gap: 20px;
	}
	img.floatImage {
		float: none;
		width: 100%;
	}
}
@media (max-width: 480px) {
	.navbar-default .navbar-toggle {
		float:none;
		margin-right:0px;
	}
	#footer {
		height: auto;
	}
	.profile-info .attr {
		margin-top:10px;
		-moz-column-count: 1;
		-moz-column-gap: 20px;
		-webkit-column-count: 1;
		-webkit-column-gap: 20px;
	}
	img.floatImage {
		float: none;
		width: 100%;
	}
}